<h1 class="formTitle">Formulario</h1>
<div>
  <form class="formContent" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="inputGroup">
      <label>Email:</label>
      <input type="email" formControlName="emailInput" id="emailInput" />
      <div
        *ngIf="
          (form.get('emailInput').invalid && form.get('emailInput').touched) ||
          form.get('emailInput').dirty
        "
      >
        <div
          class="invalidFeedback"
          *ngIf="form.get('emailInput')?.errors?.required"
        >
          Debes introducir un email valido
        </div>
        <div
          class="invalidFeedback"
          *ngIf="form.get('emailInput')?.errors?.email"
        >
          El email introducido no es valido
        </div>
      </div>
    </div>
    <div class="inputGroup">
      Desde Donde Nos Visitas:
      <select formControlName="countryInput">
        <option [ngValue]="null" desabled>Elige tu país</option>
        <option
          *ngFor="let country of countries"
          [ngValue]="country.id"
          required
        >
          {{ country.name }}
        </option>
        <p class="invalidFeedback" *ngIf="form.get('countryInput')?.errors">
          Este campo es requerido
        </p>
      </select>
    </div>
    <div>
      <div class="inputGroup">
        <label for="acceptTerms" class="form-check-label">
          Quiero recibir un email cuando la tienda esté disponible</label
        >
        <input
          type="checkbox"
          formControlName="acceptTerms"
          id="acceptTerms"
          class="form-check-input"
        />
        <div
          *ngIf="
            (form.get('acceptTerms').invalid &&
              form.get('acceptTerms').touched) ||
            form.get('acceptTerms').dirty
          "
        >
          <div *ngIf="form.get('acceptTerms')?.errors" class="invalidFeedback">
            Este campo es requerido
          </div>
        </div>
      </div>
    </div>
    <div class="stylesButton">
      <input
        id="submitButton"
        class="formBotton"
        type="submit"
        value="¡Quiero ser la primera en comprar!"
        [disabled]="!form.valid"
      />
    </div>
  </form>
</div>
