/* You can add global styles to this file, and also import other style files */

.formTitle {
  font-size: 4rem;
  display: flex;
  justify-content: space-around;
}
.formContent {
  margin: auto;
  max-width: 350px;
  font-size: 17px;
}

.inputGroup {
  margin-bottom: 23px;
}

.stylesButton {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.formBotton {
  margin-top: 10px;
}

.invalidFeedback {
  color: red;
}
